<h1>Statistics</h1>


<div class="row">
    <h2>Total medals count per country</h2>
    <br/>
    <canvas id="bar" class="chart chart-bar"
            chart-data="data" chart-labels="labels" chart-series="series" chart-colors="colors">
    </canvas>
</div>
<br/><br/>

    <h2>Total medals count of gold , silver and bronze per country</h2>
    <br/>
    <canvas id="bar2" class="chart chart-bar"
            chart-data="data2"  chart-labels="labels2"  chart-colors="colors2" chart-series="series2">
    </canvas>
<br/><br/>


